/* menu */ 

#conteneur{
    display: flex; 
    width: auto;
}

nav ul li {
    display: inline-block;
    margin: 20px;
}

.Rikiki
{
    color: red;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.logo
{
    float: left;
}

p
{
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}

/* Apparence liens */
a:hover
{
}

a:visited
{
}

a:active
{
}